<form [formGroup]="songUploadForm" (ngSubmit)="onSubmit()">
  <div draggable="true" ngClass="{{ dragAreaClass }}">
    <div class="row">
      <div class="w-full text-center" *ngIf="!fileToUpload">
        Drag files here
        <a
          href="javascript:void(0)"
          (click)="file.click()"
          class="text-blue-600"
        >
          or click to open
        </a>
        <input
          type="file"
          #file
          accept="audio/mpeg"
          [multiple]="false"
          (change)="onFileSelected($event)"
          style="display: none"
        />
      </div>
    </div>
    <div class="text-center" *ngIf="fileToUpload">
      <p>{{ fileToUpload.name }}</p>
    </div>
  </div>
  <button class="bg-blue-500 text-white px-4 py-2 rounded mt-2 disabled:bg-gray-300" type="submit" [disabled]="!fileToUpload" >
    Submit song
  </button>
</form>
<div class="error">
    {{error}}
</div>
